@charset "utf-8";

.top_inner,
.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

/* top_header 영역 */
.top_header {
    height: 18.75rem;
    background: url(../img/img_mainTop.png) no-repeat center/cover;
}

.top_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top_inner .top_nav_area {
    position: absolute;
    top: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 1.25rem 0;
}

.top_nav_area .store_link_area {
    position: relative;
    color: var(--color-white);
    font-weight: 500;
}

.top_nav_area .store_link_area>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 11.68rem;
    height: 1.25rem;
    background: url(../img/ico_listDown.png) no-repeat right center;

}

.top_nav_area .store_link_area>.store_link_group {
    position: absolute;
    top: 24px;
    left: 0;
    width: 11.68rem;
    background-color: #fff; 
    border: 1px solid var(--color-gray-l);
    padding: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 10; 
    display: none;
}
.top_nav_area .store_link_area>.store_link_group.on {
    display: block;
}
.top_header .top_nav_area .store_link_area>.store_link_group>li {
    margin-bottom: 3px;
    font-size: 0.813rem;
}

/* top_searh-area */
.search_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.search_area>p {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 1.25rem;
}

.search_area .search_input {
    position: relative;
    width: 40rem;
    height: 3.5rem;
    margin-bottom: 10px;
}

.search_area .search_input::before,
.search_area .search_input::after {
    position: absolute;
    top: 50%; left: 18px;
    transform: translateY(-50%);
    background: url(../img/ico_search_ai.png) no-repeat center;
    width: 2.375rem;
    height: 2.125rem;
    content: '';
    z-index: 3;
}

.search_area .search_input::after { 
    left: auto;
    right: 20px;
    background-image: url(../img/Cash-Search--Streamline-Ultimate.png);
    width: 1.25rem; height: 1.25rem;
}

.search_area .search_input>input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    color: var(--color-white);
    border: 3px solid #30E39E;
    z-index: 1;
}

.search_area .search_input>input::placeholder {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: 4.375rem;
    color: var(--color-gray-8);
}
.search_area .search_input>input.mobile {
    display: none;
}

.search_area .tag_area>a {
    flex: 1;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -1px;
    font-weight: 500;
}

.search_area .tag_area>a>span {
    color: #20CB89;
}

/* card layout */
.row01, .row03 {
    height: 20.375rem;
}
.row02 {
    height: 23.75rem;
}
.row01 > div,
.row03 > div {
    height: 20.375rem;
}
.row01 .card .card_value,
.row03 .card .card_value {
    margin-bottom: 1.8rem;
}


.row01>div,
.row02>div {
    float: left;
    margin-bottom: 1rem;
}

.container>.row02 {
    height: 23.75rem
}

.row02 .sec_ai_ads,
.row02 .sec_review_check {
    height: 23.75rem
}

.row02 .sec_best_menu {
    position: absolute;
    right: 0;
    height: 32.31rem;
    z-index: 5;
}
.row03 .sec_sales_profit {
    position: absolute;
    top: 137px; right: 0;
    height: 11.813rem;
}

/* card 공통*/
.container {
    position: relative;
    background: #F2F6F5;
    padding: 1.25rem;
}
.container img {
    display: inline-block;
}
.container>div {
    position: relative;
    margin-bottom: 1rem;
}
.container>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    box-sizing: border-box;
}
.container>div>div:last-child {
    margin-right: 0;
}
.container>div>.sec_support {
    padding: 0;
    background: none;
    box-shadow: none;
}
.card img {
    display: inline-block;
    vertical-align: -3px;
}
.card .card_title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.88rem;
}
.card .card_title>h2 {
    height: 2.25rem;
    line-height: 36px;
    font-weight: 500;
    font-size: 1rem;
}
.card .card_title img {
    vertical-align: middle;
    margin-right: 10px;
}
.card .card_title>span {
    font-size: 0.813rem;
    color: #9B9EA3;
}
.card .plus {color: #E02B22;}
.card .minus {color: #2F5DFD;}
.card .minus img {
    color: #2F5DFD;
    vertical-align: -1px;
}
.card .card_value {
    text-align: center;
    margin-bottom: 1.5rem;
}
.card_value>strong {
    display: block;
    font-size: 2.25rem;
    line-height: 42.96px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 5px;
}
.card_details {
    display: flex;
    background: #F2F6F5;
    border-radius: 18px;
}
.card_details>div {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 15px;
    color: #3C4048;
}
.card_details>div+div::before {
    content: '';
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 53px;
    background: #DCDCDC;
}
.card_details .detail_item {
    color: #3C4048;
    font-size: 0.875rem;
    height: 6.69rem;
    padding: 1.25rem;
}
.card_details .detail_item .title {
    font-size: 0.875rem;
}
.card_details .detail_item>.item_value {
    color: #191A1E;    
    font-weight: 600;
    font-size: 1rem;
}
.card_value .value_change {
    text-align: center;
    margin-bottom: 8px;
    font-size: 0.938rem;
}
.detail_item .value_change .value {
    font-size: var(--font-size-sm);
}

/* tab 공통 */
.tab_menu {
    display: flex;
    height: 40px;
    align-items: center;
    border-radius: 8px;
    background: #F2F6F5;
    margin-bottom: 1.759rem;
}
.tab_menu li {
    text-align: center;
    flex: 1;
    line-height: 40px;
    font-weight: 500;
    color: #969696;
}
.tab_menu li.on {   
    margin-left: 2px; 
    height: 36px;
    border-radius: 7px;
    background: #fff;
    color: #202125
}

/* chatbot_banner */
.card .sec_support {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 15px;
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
.chatbot_slider {
    width: 100%;
    border-radius: 20px;
    height: 9.375rem;
    overflow: hidden;
    background: url(../img/img_chatbot_banner_bg.png) no-repeat center / cover;
}
.chatbot_slider .swiper-slide {   
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot_slider .slider_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}
.chatbot_slider .slider_text .chatbot_icon {
    width: 30%;
    text-align: center;
}
.chatbot_slider .slider_text .chatbot_text {
    width: 65%;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}
.swiper-pagination-bullet {
    background: var(--color-white);
    opacity: 0.2;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}
.card .support_center {
    height: 9.75rem;
    display: flex;
    justify-content: start;
    padding: 0;
    gap: 15px;
    margin-top: 15px;
    text-align: center;
}
.card .support_center>div {
    width: 48.5%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* 리뷰 알림 영역 */
.new_review_list li {
    position: relative;
    padding: 1rem 0 1rem 2.4rem;        
}
.new_review_list li + li {
    border-top: 1px solid #E7E7EB;
}
.new_review_list li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px; 
    height: 28px;
    background: url(../img/ico_review_check.png) no-repeat center/cover;    
}
.new_review_list li .title {
    font-size: 1.13rem;
    margin-bottom: 8px; 
    color: #202125;
    font-weight: 500;
}
.new_review_list li .text {
    font-size: 0.88rem;
    color: #3C4048;
}

/* 베스트 영역 */
.sec_best_menu .tab_menu {
    margin-bottom: 15px;
}
.sec_best_menu .sub_tab_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-bottom: 15px;
}
.sec_best_menu .sub_tab_menu > li {
    flex: 1;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    border: 1px solid #E7E7EB;
    font-weight: 500;   
    text-align: center; 
}
.sec_best_menu .sub_tab_menu > li.active {
    border-color: #424242;
}
.sec_best_menu .tab_contents {
    display: none;
}
.sec_best_menu .tab_contents.on{
    display: block;
}
.sec_best_menu .sub_tab_contents > li {    
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #E7E7EB;
    height: 3.2em;
    font-weight: 500;
    color: #424242;   
    font-size: 1.13rem;
}
.sec_best_menu .sub_tab_contents > li:last-child {
    border: none;
}
.sec_best_menu .sub_tab_contents > li > strong {
    font-weight: 600;
    font-size: 1.13rem;
    color: #969696;
    margin-right: 8px;
}
.sec_best_menu .sub_tab_contents > li > div {
    margin-left: auto;
    font-size: 1rem;
    color: #202125;
    font-weight: 500;
    text-align: right;
}
.sec_best_menu .sub_tab_contents > li .count {
    display: block;
    font-size: 0.88rem;
    color: #969696;    
}

/* 리뷰현황 */
.card_detail_group {
    display: flex;
    justify-content: space-between;
}
.card_detail_group > div {
    border-radius: 16px;
    background: #F2F6F5;
}
.card_detail_group > div:first-child {
    width: 33%;    
}
.card_detail_group > div:last-child {
    width: 66%;
}

/* 매출비용분석 */
.row03 .sec_sales_cost .card_title {
    margin-bottom: 1rem;
}
.sec_sales_cost .detail_item {
    padding: 1.25rem;
}
.sec_sales_cost .card_value {
    margin-bottom: 0;
}
.sec_sales_cost .card_value > span {
    margin-bottom: 5px;
}
.sec_sales_cost .gray {
    font-size: 0.813rem;
    color: #969696
}

/* 매출손익분석 */
.sec_sales_profit .card_details.mobile {
    display: none;
}
.sec_sales_profit .detail_item {
    padding: 1rem;
}
.sec_sales_profit .detail_item .item_value {
    color: #202125;
    font-weight: 600;
    letter-spacing: -1%;
    text-align: center;
}

/* 매출손익분석 */
.sec_sales_profit .card_details {
    height: 5.32rem; 
}

@media screen and (max-width: 1024px) {
    .detail_item .value_change .value {
        font-size: 0.78rem;
    }
    
    .sec_sales_cost .detail_item .value_change {        
        font-size: 0.78rem;
    }

    .sec_sales_profit .card_title {
        margin-bottom: 1.15rem;
    }
}